{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" /> 
    <title>🦁 마이페이지</title>
</head>
<body>
    <div class="mypage-box">
        <header>
            <div class="header-left">
                <img class="icon" src="{% static 'images/icon.svg' %}" />
                <h2>마이페이지</h2>
            </div>
            <a class="out-btn" href="{% url 'logout' %}">
                <img src="{% static 'images/out.svg' %}" />
            </a>
        </header>
        <div class="profile">
            <img class="profile_img" src="{% static 'images/profile.svg' %}" />
            <div class="profile_content">
                <section class="mypage_section">
                    <span class="section_title">닉네임</span>
                    <span class="section_content">주먹</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">생년월일</span>
                    <span class="section_content">01.10.20</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">거주지</span>
                    <span class="section_content">경기도 용인시 수지구</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">MBTI</span>
                    <span class="section_content">INFP</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">전공</span>
                    <span class="section_content">IT공학전공</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">이메일</span>
                    <span class="section_content">sarah1020zzz@sookmyung.ac.kr</span>
                </section>
                <section class="mypage_section">
                    <span class="section_title">깃허브</span>
                    <span class="section_content">jumeok</span>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'js/mypage.js' %}"></script>
</body>
</html>