@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Pretendard Variable";
    background: linear-gradient(180deg, #362a21 0%, #0d0d0d 100%);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

/* 1. 마이페이지 박스 */
.mypage-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 49.0625rem;
    height: 34.625rem;
    border-radius: 1.125rem;
    background: rgba(60, 60, 60, 0.3);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

/* 2. 로고 */
header {
    margin-top: 3.62rem;
    display: flex;
    place-items: center;
    padding: 0 3.13rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.icon {
    width: 1.88213rem;
    height: 2.17888rem;
}

h2 {
    margin: 0;
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.042rem;
}

.out-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.out-btn img {
    display: block;
}

/* 3. 프로필 정보 */
.profile {
    margin-top: 3rem;
    padding: 0 3.31rem 0 3.12rem;    
    display: flex;
    gap: 2.56rem;
}

.profile_img {
    margin-top: 1rem;
}

.profile_content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.mypage_section {
    display: flex;
    gap: 2rem;
}

.section_title {
    width: 4.375rem; 
    color: #EE7521;
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section_content {
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
